/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {

    height: 100%;
    width: 100%;
    font-style: 100%;
    line-height: 1;
    font-style: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

img {
    vertical-align: top;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: inherit;
    font-weight: 400;
}

/* Основная сетка */
.container {
    
}
.offering-product {
    height: 46px;
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #0C0D12;
    color: #FFFFFF;
}
.nav-list{
    display: flex;
    margin-left: 80px;
}
.nav-item {
    background: #F9F5EA;
    height: 88px;
    top: 46px;
    margin-top: 28px;
    margin-right: 32px;
    font-family: 'Zilla Slab';
    font-style: normal;
    font-size: 20px;
    line-height: 160%;
    font-weight: 400px;
    letter-spacing: 0.6px;
}
.nav-item-link {
    color:#0C0D12;
}
.nav-item-link :hover
.nav-item-link :focus {
color:#a1a1a1
}